.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}



.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: larger;
}